body {
	background-color:#000;
}
.boundary {
	width:80%;
	margin:0 auto;
}
.carousel-caption {
	 position: inherit;
 right: inherit;
 bottom: inherit;
 left: inherit;
 z-index: 10;
padding-top: 20px;
padding-bottom: 20px;
color: #fff;
text-align: center;
text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
@media screen and (min-width: 768px) {
	.carousel-indicators {
	    bottom: 85px;
	}
}

header {
	padding:16px 0px;
}

header img {
	width:40%;
}
