body {
	background-color: rgba(255,255,255,0.01);
}
.boundary {
	width:100%;
	margin:0 auto;
}
.carousel-caption {
	 position: inherit;
 right: inherit;
 bottom: inherit;
 left: inherit;
 z-index: 10;
padding-top: 20px;
padding-bottom: 20px;
color: #002855;
font-size:16px;
text-align: left;
text-shadow:none;
}
.carousel-indicators li {
	border:1px solid #002855;
}
.carousel-indicators .active {
	background-color:#002855;
}
.carousel-control.left, .carousel-control.right {
	background-image:none;
}
.carousel-control {
	text-shadow: none;
}
.carousel-indicators {
    position: inherit;
    bottom: inherit;
    left: inherit;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
		margin:0 auto !important;
}


header {
	padding:16px 0px;
}

header img {
	width:30%;
}
h1 {
	color:#fff;

}
