/*== static styles ==*/



/* individual news item */
.newsImageContainer img {
height: auto;
width: 300px;
}

/* event and initiative images */
span #form-widgets-image .named-image-widget .required .namedblobimage-fieldimg img{
	width: 50%
	height: 50%;
}