/*Don't forget to add subsection-overview-facts-distinctions*/

.subsection-overview-facts-distinctions .slidefeature {
  display:none;
}

.subsection-overview-facts-distinctions .facts-z{
	display: flex;
	flex-direction: row; 
}
.subsection-overview-facts-distinctions .fact-box{
	width: 20%;
}

.subsection-overview-facts-distinctions .badge{
  width: 200px;
}
