/*Don't forget to add subsection-overview-facts-distinctions*/

.subsection-overview-facts-distinctions .slidefeature {
  display:none;
}

.subsection-overview-facts-distinctions .facts-z{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 32px;

}
.subsection-overview-facts-distinctions .fact-box{
	width: 30%;
	text-align: center;
}

.subsection-overview-facts-distinctions .badge{
  width: 200px;
}

.subsection-overview-facts-distinctions .inside-box {
	width: 80%;
	margin: 0 auto;
}

.subsection-overview-facts-distinctions .fact-box .image-inline {
	width: 70%;
	text-align: center;
}

.subsection-overview-facts-distinctions .main .news .box.intro .fact-box p {
	font-size: 0.70em;
}
