
// Typography
	$futura:			"futura-pt-condensed", Futura Std, Futura, Arial, sans-serif;
	$sans-serif:		"proxima-nova",sans-serif;
	$serif:				"ff-tisa-web-pro",Georgia, serif;
	$monospace:			Monaco, "Courier New", Courier, monospace;


	// [Compass] Vertical rhythm set up
	// Change these values to whatever you want for your proj
	// $base-font-size:				16px;
	// $base-line-height:				24px;
	// $default-rhythm-border-style:	solid;
	// $relative-font-sizing:			true;

// Colors
	// The UC Davis standard colors

	$primary-color:		#002855; // h1,h2,h3,h4 banner colors
	$secondary-color:	#C99700; // accent color, a hovers, underlines
	$dark-gray:			#242424; // p,li color in main content
	$middle-gray: 		#515151; // p,li color in portlet/sidebar
	$light-gray:		#9b9b9b; // summary, discreet

	$main-font:			#242424;
	$middle-font:		#777777;
	$light-font:		#9B9B9B;

	$background-color:	#f4f4f4; // background
	$boxcolor:			#ffffff; //	content boxs
	$borders:			#C8C7CC; // border color

	$a-link:			#2473aa;

	$ucdavis-blue:		#002855;

	// Supplemental bright color palette for UC Davis
	$unitrans-red: 		#ba0c2f;
	$western-redbud:	#c6007e;
	$california-poppy:	#ed8800;
	$golden-lupine:		#ffcd00;
	$sunny-grass:		#78be20;
	$sky-blue:			#00b5e2;
	$recpool-blue:		#008eaa;
	$wine-grape:		#642667;

	// Supplemental neutral color palette for UC Davis
	$mu-brick:			#c26e60;
	$harthall-stucco: 	#e6a65d;
	$sage-green:		#9caf88;
	$evergreen:			#00573f;
	$wintersky-gray:	#5b7f95;
	$cenwalk-gray:		#b1b3b3;
	$cork-oak:			#aca39a;
	$shingle-brown:		#4f2c1d;

	// asi colors

	$asi_main:			#1C5BA5;
	$asi_accent:		#FFB208;

	$publications_main:	#000000;
	$publications_accent: #c87667;

	$sarep_main:		#004B85;
	$sarep_accent:		#DDB307;

	$sf_main:			#00573f;
	$sf_accent:			#ffcd00;

	$rr_main:			#C99700;
	$rr_accent:			#4f2c1d;

	$infas_main:		#2B8C92;
	$infas_accent:		#AD5C0E;

	$research_main:		#642667;
	$research_accent:	#008EAA;

	$safs_main:			#4F2C1D;
	$safs_accent:		#E6A65D;

	$sustain_main:		#5B7F95;
	$sustain_accent:	#E1BB33;

	$borders:			#c8c7cc; // borders
	$secondary-bg:		#f5f5f5; // highlighted gray background


	// colors yay
	$green:				#7E8843; // portlet headers
// variables yo!
	$max-width: 1400px;

@mixin breakpoint($point) {
   @if $point == desktop {
     @media (max-width: 1250px) { @content ; }
  }
   @else if $point == laptop {
     @media (max-width: 1000px) { @content ; }
  }
  @else if $point == rufus {
     @media (max-width: 850px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 750px) { @content ; }
  }
  @else if $point == navcut {
     @media (max-width: 650px) { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 550px)  { @content ; }

  }
}
// structure //
@mixin outer-container {
  width:80%;
  max-width: $max-width;
  margin:0 auto;
   @include breakpoint(laptop) {
      width:90%;
      // background-color:rgba(100,100,255,.3);
  }
  @include breakpoint(tablet) {
    width:95%;
    // background-color:rgba(100,255,100,.3);
  }
  @include breakpoint(mobile) {
    width:100%;
  }
}

@mixin contentbox {
	overflow: auto;
	width: 100%;
	padding: 1em;
	margin: 1em 0;
	height:auto;
	vertical-align:top;
}
@mixin transitiontime {
	transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.25s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
}
@mixin navtrans {
	-webkit-transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
	-webkit-transition-delay: 0, 0;
	-moz-transition: left 0.3s ease-in-out 0, right 0.3s ease-in-out 0;
	-moz-transition-delay: 0, 0;
	-o-transition: left 0.3s ease-in-out 0, right 0.3s ease-in-out 0;
	transition: left 0.3s ease-in-out 0, right 0.3s ease-in-out 0;
}

@mixin main-theme-bg-color {
	.site-ASI & {background-color: $asi_main;}
	.site-sarep & {background-color: $sarep_main;}
	.site-rr & {background-color: $rr_main;}
	.site-sf & {background-color: $sf_main;}
	.site-infas & {background-color: $infas_main;}
	.site-safs & {background-color: $safs_main;}
	.site-sustainable-sourcing & {background-color: $sustain_main;}
}
@mixin main-theme-color {
	.site-ASI & {color: $asi_main;}
	.site-sarep & {color: $sarep_main;}
	.site-rr & {color: $rr_main;}
	.site-sf & {color: $sf_main;}
	.site-infas & {color: $infas_main;}
	.site-safs & {color: $safs_main;}
	.site-sustainable-sourcing & {color: $sustain_main;}
}
@mixin main-theme-trans {
	.site-ASI & {background-color:darken($asi_main,5);}
	.site-sarep & {background-color:darken($sarep_main,5);}
	.site-rr & {background-color:darken($rr_main,5);}
	.site-sf & {background-color:darken($sf_main,5);}
	.site-infas & {background-color:darken($infas_main,5);}
	.site-safs & {background-color:darken($safs_main,5);}
	.site-sustainable-sourcing & {background-color:darken($sustain_main,5);}
}

@mixin main-theme-trans-more {
	.site-ASI & {background-color:darken($asi_main,7);}
	.site-sarep & {background-color:darken($sarep_main,7);}
	.site-rr & {background-color:darken($rr_main,7);}
	.site-sf & {background-color:darken($sf_main,7);}
	.site-infas & {background-color:darken($infas_main,7);}
	.site-safs & {background-color:darken($safs_main,7);}
	.site-sustainable-sourcing & {background-color:darken($sustain_main,7);}
}

@mixin accent-theme-bg-color {
	.site-ASI & {background-color: $asi_accent;}
	.site-sarep & {background-color: $sarep_accent;}
	.site-rr & {background-color: $rr_accent;}
	.site-sf & {background-color: $sf_accent;}
	.site-infas & {background-color: $infas_accent;}
	.site-safs & {background-color: $safs_accent;}
	.site-sustainable-sourcing & {background-color: $sustain_accent;}
}

@mixin nested-accent-theme-bg-color {
	&.site-ASI {background-color: $asi_accent;}
	&.site-sarep {background-color: $sarep_accent;}
	&.site-rr {background-color: $rr_accent;}
	&.site-sf {background-color: $sf_accent;}
	&.site-infas {background-color: $infas_accent;}
	&.site-safs {background-color: $safs_accent;}
	&.site-sustainable-sourcing {background-color: $sustain_accent;}
}

@mixin accent-theme-color {
	.site-ASI & {color: $asi_accent !important;}
	.site-sarep & {color: $sarep_accent !important;}
	.site-rr & {color: $rr_accent !important;}
	.site-sf & {color: $sf_accent !important;}
	.site-infas & {color: $infas_accent !important;}
	.site-safs & {color: $safs_accent !important;}
	.site-sustainable-sourcing & {color: $sustain_accent !important;}
}
@mixin accent-theme-brdr-color {
	.site-ASI & {border-color: $asi_accent;}
	.site-sarep & {border-color: $sarep_accent;}
	.site-rr & {border-color: $rr_accent;}
	.site-sf & {border-color: $sf_accent;}
	.site-infas & {border-color: $infas_accent;}
	.site-safs & {border-color: $safs_accent;}
	.site-sustainable-sourcing & {border-color: $sustain_accent;}
}




