// Regions
// Page regions, named after their class and role names.
// i.e. Banner, navigation, etc.

// If you want more separation, you can set up an include per region, i.e.
// @include 'region/banner';		// and then add region/_banner.scss
.breadandsearch {
	border-bottom:1px solid $borders;
	// margin-top:2%;
}
.bread {
	width:60%;
	display:inline-block;
	vertical-align:top;
	padding-bottom:1%;
}
#searchGadget, .LSBox input.searchButton {
	color:$main-font;
}
input.searchField {
    -moz-appearance: none;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    background-color:rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255,255,255,.4);
    margin-right: 3px;
    padding: 5px;
    font-size:16px;
    box-shadow: none;
    margin-bottom: 0px;
    border-radius: 0px;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:10px;
    .webkit & {
    	height: 25px;
    }
}
.searchSection {
	display:none;
}

#content .eventDetails {
	display: none;
}

.eventdetailsside {
	display:none;
}
body.template-event_view .eventdetailsside {
	display:block;
	margin-top:25%;
	.border-spread {
		border-bottom:2px solid $asi-accent;
	}
}

//breadcrumbers

#portal-breadcrumbs {
	margin-top:20px;
	margin-bottom:0px;
}

// call to actions
.cta {
	width:20%;
	display:inline-block;
	vertical-align:top;
	margin-right:6.08%;
	text-align: center;
	transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    &.support {
		margin-right:0px;
		float: right;
		}
	img {
		padding-bottom:20px;
	}

}

#content .cta {
	p a:visited {
		color:$dark-gray;
		text-decoration:none;
	}
	p a {
		text-decoration:none;
	}
	h2 a {
		color:$primary-color;
	}
	p a:link, p a {
		color:$dark-gray;
	}
	&:hover {
		p a, h2 a, h2 a:link, h2 a:visited {
			color:$secondary-color !important;
		}

	}
}

// Staff directory

.template-directory_standard_view {
	.row {
		position:inherit;
		float:none;
	}
	.position-0, .position-4 {
		margin-left:0px;
	}
	.cell {
		left:0;
	}
	.width-13, .width-3{
		width:auto;
	}
	.width-3 {
		margin-right:20px;
	}
}

//grant section

.grants {
	margin-bottom:45px;
	h2 {
		border-bottom:2px solid $secondary-color;
		padding-bottom:3px;
	}
}

//giving support
.givingdiv {
	margin:30px 0px;
	padding:15px 0px;
	border-bottom:2px dotted $secondary-color;
}
.giving_image {
	width:30%;
	display:inline-block;
	text-align:center;
	img {
		border-radius:50%;
		box-shadow:0 0 0 0.25em #FFFFFF, 0 0 0 .50em $secondary-color;
	}
}
.giving_words {
	width:48%;
	display:inline-block;
	text-align:left;
	vertical-align:top;
	padding-top:2rem;
}
p.standout {
	color:#fff;
	background-color:$primary-color;
	padding:1rem;
	width:100%;
	display:inline-block;
	a {
		color:#fff;
	}
}
.portletstatic p.standout a:link, .portletstatic .portlet_column p.standout a:visited {
	color:$secondary-color;
	&:hover {
		color:#fff;
	}
}
p.standout_gold {
	color:#fff;
	background-color:$secondary-color;
	padding:1rem;
	width:100%;
	display:inline-block;
}
.section-homepage {
	.top-header-bg {
		// background-color:rgba(0,0,0,.5);
		// z-index:999;
		// position:relative;
		display:none;
	}

	.homepage_slider {
		margin-top:-6px;
		postion:relative;
		.banner--title {
			text-align:center;
			vertical-align:middle;
			h1 {
				font-size:2.4rem;
				text-transform:uppercase;
				background-color:$secondary-color;
				margin-bottom:0px;
				font-family:$futura;
				font-weight:700;
				letter-spacing:4;
				color:#fff;
				width:400px;
				margin:0 auto;
			}
			h3 {
				font-family: Georgia;
				margin-top:0px;
				color:$middle-gray;
				background-color:#fff;
				font-size:2.2rem;
				margin:0 auto;
				width:300px;
			}
		}
	}
	.portlet-static-homepage-welcome {
		@include outer-container;
		margin-top:6%;
		max-width:70rem;
		min-width:50rem;
		// border-top:4px solid $asi_main;
		text-align:center;
		@include breakpoint(laptop) {
			margin-top:10%;
	    }
	}
	#portal-breadcrumbs {
		display:none;
	}
	.spotlight-bg {
		background-color:$background-color;
		border-top:1px solid $borders;
		border-bottom:1px solid $borders;
		margin-top:5%;
		margin-bottom:2%;
		.spotlight-section {
			@include outer-container;
			margin-top:2%;
			margin-bottom:2%;
			.spotlight_feature {
				width:40%;
				display:inline-block;
				vertical-align:top;
				margin-right:9%;
				& a.contenttype-news-item {
					width:100%;
					font-size:1.8rem;
					color:$main-font;
					font-family:$sans-serif;
					img {
						width:100%;
					}
				}
				dt.portletHeader {
					margin-bottom:22px;
				}
				.box.article{
					// border-top:5px solid $asi-main;
					// padding-top:3%;
					background-color:#fff;
					border-left:1px solid $borders;
					border-right:1px solid $borders;
					border-bottom:1px solid $borders;
					h2 {
						padding-left:10px;
					}
					p {
						padding-left:10px;
					}
				}
			}
			.spotlight_events {
				width:40%;
				display:inline-block;
				vertical-align:top;
				.portletItem {
					background-color:#fff;
					border:1px solid $borders;
					padding:4%;
					padding-top:4%;
					margin-top:4%;
				}
				dd.portletItem:first-child {
					border-top:3px solid $asi-accent;
				}
			}
		}
	}
	.icons-on .contenttype-news-item {
		background:none !important;
		padding-left:0px !important;
	}
}
// people
.portaltype-fsdfacultystaffdirectory {
	.innerds {
		width:100%;
		padding-right:0%;
	}
	.portlet_column {	
		display:none;
	}
}


.facultyStaffDirectory {
	.classificationListing .listing.row {
		width: 32%;
		display: inline-block;
		vertical-align:top;
	}
}

// ultimate ASI file 
.portaltype-ultimate_asi_file {
	#content-core {
		div.field {
			margin:4% 0px;
		}
	}
	fieldset#folder-listing {
		display:none;
	}
	label {
		font-size:1.4rem;
		text-transform:uppercase;
		color:$light-gray;
		display:block;
		margin-bottom:1%;
	}
	span {
		font-size:1.6rem;
	}
}

// table 

table.secondary_table {
	tr {
		td {
			vertical-align:top;
			img {
				padding-right:10%;
				padding-top:7%;
			}
		}
	}
	tr:nth-child(odd) td {
		padding-top:3%;
		border-bottom:2px solid #000;
		@include accent-theme-brdr-color;
	}
	.webkit tr:nth-child(odd) td:first-child {
		width:3%;
	}
	tr:first-child td {
		padding-top:1%;
	}
}

// SF hack

#bottom_ports-bg {
	iframe {
		margin-top:-50px;
	}
}

// Donor map

.donormap{
	background:url(../images/donormap.jpg) no-repeat top left;
	width:692px;
	height:545px;
	padding:20px 100px 10px 15px;
}

.acre{
	position:relative;
	display:inline-block;
	width:60px;
	height:60px;
}

.acre.a{
	width:59px;
}

.acre.b{
	width:59px;
}

.acre.c{
	width:58px;
}

.acre.d{
	width:60px;
}

.acre.e{
	width:60px;
}

.acre.f{
	width:60px;
	margin-left:20px;
}

.acre.g{
	width:59px;
}

.acre.h{
	width:59px;
}

.acre.i{
	width:60px;
}

.acre.one{
	height:60px;
}

.acre.two{
	height:62px;
}

.acre.three{
	height:61px;
}

.acre.four{
	height:60px;
}

.acre.five{
	height:62px;
}

.acre.six{
	height:60px;
}

.acre.seven{
	height:62px;
}

.acre.eight{
	height:61px;
}

span.popup{
	position:absolute;
	left:-9999px;
	text-align:center;
	line-height:1em;
	font-size:1.5em;
	padding:10px;
	border:6px solid green;
	background:#fff;
	color:green;
	border-radius:12px;
	display:inline;
	z-index:99999;
}

.acre:hover{
	background:rgba(100,255,255,.5);
	cursor:pointer;
}

.acre:hover span.popup{
	left:-30px;
	top:-50px;
	float:left;
	position:absolute;
	box-shadow:#333 5px 5px 5px;
}

span.popup.donor{
	width:150px;
	height:100px;
}

.acre:hover span.donor.popup{
	left:-60px;
	top:-120px;
}

span.popup.donor img{
	max-width:100px;
}

span.popup:after{
	content:"";
	position:absolute;
	width:0;
	height:0;
	border-width:10px;
	border-style:solid;
	border-color:green transparent transparent transparent;
	top:55px;
	left:50px;
}

span.popup.donor:after{
	top:125px;
	left:75px;
}