/* apply a natural box layout model to all elements */
/* line 2, ../sass/_border-box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/_foundation.scss */
.jumbotron {
  max-width: 190rem;
  width: 100%;
  margin-top: -1px;
  background-color: #002855;
  padding: 0rem 0rem;
  position: relative;
  margin-bottom: 0rem;
}
/* line 19, ../sass/_foundation.scss */
.jumbotron .jumbotron_contents {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 2rem 4rem;
  position: relative;
  text-align: center;
}

/* line 28, ../sass/_foundation.scss */
.bread {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
/* line 30, ../sass/_foundation.scss */
.bread #portal-breadcrumbs {
  margin-left: 25%;
}

/* line 34, ../sass/_foundation.scss */
#content {
  margin: 0px;
}

/* line 37, ../sass/_foundation.scss */
.main_stuff {
  padding: 2.5rem 0rem;
}
/* line 39, ../sass/_foundation.scss */
.main_stuff .main_stuff_contents {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  /* or inline-flex */
  align-items: baseline;
}
/* line 44, ../sass/_foundation.scss */
.main_stuff .main_stuff_contents .left_col {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
/* line 49, ../sass/_foundation.scss */
.main_stuff .main_stuff_contents .guts {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  border-top: 2px solid #002855;
  border-left: 2px solid #002855;
  padding: 2.5rem 2.5rem 1.5rem 3.5rem;
  clear: both;
}
/* line 57, ../sass/_foundation.scss */
.main_stuff .main_stuff_contents .guts .row_cta {
  text-align: center;
  padding: 3rem 0rem;
  vertical-align: top;
  margin: 3rem 0rem;
}
/* line 62, ../sass/_foundation.scss */
.main_stuff .main_stuff_contents .guts .row_cta .col_three {
  width: 32%;
  vertical-align: top;
  display: inline-block;
}
/* line 66, ../sass/_foundation.scss */
.main_stuff .main_stuff_contents .guts .row_cta .col_three a:link {
  color: #247fcc !important;
}
/* line 69, ../sass/_foundation.scss */
.main_stuff .main_stuff_contents .guts .row_cta .col_three a:visited {
  color: #247fcc;
}

/* line 77, ../sass/_foundation.scss */
footer {
  background-color: #f0f0f0;
  padding: 4rem;
  margin-top: 5%;
}
/* line 81, ../sass/_foundation.scss */
footer .footer_contents {
  text-align: center;
}

/* line 2, ../sass/_typography.scss */
html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
}

/* line 14, ../sass/_typography.scss */
ul {
  list-style-type: square;
}

/* line 27, ../sass/_typography.scss */
label, input {
  font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
}

/* line 30, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
  color: #232323;
}

/* line 34, ../sass/_typography.scss */
h1, .h1, h2, .h2, h3, .h3 {
  margin: .5rem 0rem;
}

/* line 37, ../sass/_typography.scss */
#content a:link, dl.portlet a:link {
  border-bottom: none;
  text-decoration: underline;
}

/* line 42, ../sass/_typography.scss */
.jumbotron h1 {
  font-size: 5.5rem;
  color: #fff;
  font-weight: 200;
}
/* line 46, ../sass/_typography.scss */
.jumbotron h1 a {
  color: #fff;
}
/* line 50, ../sass/_typography.scss */
.main_stuff_contents h1 {
  color: #002855;
  padding-bottom: .3rem;
  border-bottom: 1px dotted #002855;
}

/* line 57, ../sass/_typography.scss */
h3.cta {
  margin-top: 15px;
  margin-bottom: 10px;
}

/* line 63, ../sass/_typography.scss */
#content .documentDescription, #content #description {
  font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin: 1rem 0rem;
}

/* line 70, ../sass/_typography.scss */
#portal-breadcrumbs {
  font-size: 1.4rem;
  font-size: 100%;
  color: #434343;
  font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
}
/* line 75, ../sass/_typography.scss */
#portal-breadcrumbs span#breadcrumbs-current {
  color: #c77900;
}

/* line 79, ../sass/_typography.scss */
dt.portletHeader {
  border-bottom: 1px solid #002855;
  border-top: 1px solid #002855;
  margin-bottom: 1rem;
  padding: .3rem 0rem;
}
/* line 84, ../sass/_typography.scss */
dt.portletHeader a {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 300;
  font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
  color: #232323;
}

/* line 98, ../sass/_typography.scss */
#content a:hover, dl.portlet a:hover {
  color: #c77900 !important;
}

/* line 101, ../sass/_typography.scss */
p {
  font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
  font-size: 1.6rem;
}

/* line 105, ../sass/_typography.scss */
b, strong, th {
  font-weight: 800;
}

/* line 108, ../sass/_typography.scss */
label {
  font-weight: 500;
}

/* line 111, ../sass/_typography.scss */
legend {
  font-weight: 600;
}

/* line 114, ../sass/_typography.scss */
#content {
  font-size: 100%;
}

/* line 117, ../sass/_typography.scss */
.state-published {
  color: inherit !important;
}

/* line 120, ../sass/_typography.scss */
#content a:visited, dl.portlet a:visited {
  color: inherit !important;
}

/* line 5, ../sass/_components.scss */
img {
  max-width: 100%;
}

/* line 9, ../sass/_components.scss */
.panel-default > .panel-heading {
  background-image: none;
  background-color: #fff;
}

/* line 13, ../sass/_components.scss */
.panel-title {
  font-size: 20px;
}
/* line 15, ../sass/_components.scss */
.panel-title h4 a:hover {
  color: #c77900;
}

/* line 19, ../sass/_components.scss */
a.btn-primary {
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset;
  color: #fff !important;
  border: none;
  font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #247fcc;
  background-image: none;
}

/* line 34, ../sass/_components.scss */
.panel-default {
  border: none;
}

/* line 37, ../sass/_components.scss */
.panel {
  border: none;
}

/* line 3, ../sass/_regions.scss */
ul.navTree li {
  display: list-item;
  font-size: 1.6rem;
  padding: .6rem 0rem;
  font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
  font-weight: 400;
  list-style-type: none;
}
/* line 9, ../sass/_regions.scss */
ul.navTree li a {
  color: #247fcc !important;
  padding-left: .5rem;
  display: block;
}
/* line 14, ../sass/_regions.scss */
ul.navTree li a:hover {
  color: #c77900 !important;
  border-left: 2px solid #002855;
  text-decoration: none;
  padding-left: 3px;
}
/* line 21, ../sass/_regions.scss */
ul.navTree li > .navTreeCurrentNode {
  border-left: 2px solid #002855;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 7px;
  padding-bottom: 7px;
}
/* line 26, ../sass/_regions.scss */
ul.navTree li > .navTreeCurrentNode li a {
  color: #002855 !important;
  padding-left: 7px;
}
/* line 33, ../sass/_regions.scss */
ul.navTree li.active ul.navTreeLevel1 {
  display: list-item;
}
/* line 37, ../sass/_regions.scss */
ul.navTree ul.navTreeLevel1 {
  display: block;
  left: unset;
  top: unset;
  position: relative;
  margin-left: 3rem;
  color: #247fcc;
}

@media all and (max-width: 865px) {
  /* line 3, ../sass/_responsive.scss */
  .jumbotron .jumbotron_contents {
    width: 80%;
  }
}
@media all and (max-width: 630px) {
  /* line 9, ../sass/_responsive.scss */
  .jumbotron {
    padding: 2rem 0rem;
  }
  /* line 11, ../sass/_responsive.scss */
  .jumbotron h1 {
    font-size: 2.5rem;
  }

  /* line 16, ../sass/_responsive.scss */
  .main_stuff .main_stuff_contents {
    display: block;
  }
  /* line 18, ../sass/_responsive.scss */
  .main_stuff .main_stuff_contents .left_col {
    width: 100%;
  }
  /* line 21, ../sass/_responsive.scss */
  .main_stuff .main_stuff_contents .guts {
    width: 100%;
  }
}
