/*Right column*/
#right---default---widgets legend {
    background-color: rgb(38, 96, 163);
    border: 0 none;
    color: white;
    font-size: 2em;
    font-weight: 400;
    padding: 0.45em;
    }
/*Right column border*/
#faceted-form fieldset {
    border: none;
    margin: 0.5em;
    padding: 1em 0.5em 0.5em;
}
/*Results per page widget*/
.widget-fieldset > form {
    font-size: 1.75em;
}