/* Event Details table */
.event_table table {
	background-color: white;
	font-size: 14px;

}

.event_table table tr th{
	background: #E7E7E7;
	text-align: left;
	font-weight: normal;
	border-color: white;
}

