/* Event Details table */
.event_table table {
	background-color: #E7E7E7;
	font-size: 14px;
	border-color:white;

}

.event_table table tr th{
	background: white;
	text-align: left;
	font-weight: normal;
}

