/*----- Event Details table -----*/

.event_table table {
    background-color: white;
    font-size: 14px;
}

.event_table table tr th {
    background: white;
    text-align: left;
    font-weight: normal;
}

.event_table .eventDetails {
	margin-left: 0px;
}

/*----- Directory styles ------*/

/* image */
.facultyStaffDirectory .cell.width-3.position-0 {
	height: 139px;
	width: 139px;
}

.facultyStaffDirectory .cell.width-3.position-0 img{
    width: auto;
    height: 139px;
    overflow: hidden;
}

/* content container */
.facultyStaffDirectory .cell.width-13.position-4 {
 height: auto;
 width: 50%;
 margin-right: 20px;
}

#content .facultyStaffDirectory ul.jobTitle {
    margin-bottom: 40px;
    
}

#content .facultyStaffDirectory .listing{
    margin-bottom: 20px;
    
}

/* People classification nav */
.classificationList li a {
    font-family: 'proxima-nova', sans-serif;
}

/* classification header */
.classificationListing h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.personName {
    color: #434343;
    margin-bottom: 0px;
    line-height: 20px;

}

.jobTitle li{
    font-family: 'proxima-nova', sans-serif;
    font-size: 14px;
    color: #9B9B9B;
}


/* contact info font */

.officePhone {
    font-size: 14px;
    color: #434343;
    line-height: 17px;
}

.emailAddress {
    font-size: 14px;
    line-height: 17px;
}

.moreInfo {
    font-size: 12px;
    line-height: 17px;

}


